{% extends 'base.html' %}

{% block head %}
<title>Saral-lekhan</title>
{% endblock %}

{% block body %}
<div class="ubea-loader"></div>

<div id="page">

    <div id="ubea-hero" class="js-fullheight" data-section="home">
        <div class="flexslider js-fullheight">
            <ul class="slides">
                <li style="background-image: url(/static/images/img.webp);">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                            <div class="slider-text-inner">

                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(/static/images/email.jpg);">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                            <div class="slider-text-inner">

                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(/static/images/app.webp);">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                            <div class="slider-text-inner">
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(/static/images/application1.webp);">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                            <div class="slider-text-inner">
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(/static/images/letter.webp);">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                            <div class="slider-text-inner">

                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(/static/images/letter1.webp);">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                            <div class="slider-text-inner">

                            </div>
                        </div>
                    </div>
                </li>

                <li style="background-image: url(/static/images/letter3.webp);">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                            <div class="slider-text-inner">


                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <div class="ubea-section-overflow">

        <div class="ubea-section" id="ubea-services" data-section="courses">
            <div class="ubea-container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="ubea-heading">
                            <h2 class="ubea-left">Document Writing</h2>
                            <p>Few Details about how to write good document</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="feature-left">

                                    <div class="feature-copy">
                                        <a href="medical.html" style="text-decoration:none;color:red;">
                                            <h3>Email Writing</h3>
                                        </a>
                                        <p>Introduction The “Medical field” is one of the best,
                                            reputed and respected professional fields in
                                            India and abroad. When we talk about Medical, an image of
                                            an MBBS rises in our mind. It is not so!!
                                            There are various courses other than MBBS, in the
                                            medical field in India. But the question is still there!
                                            What is the best medical course after 12th in science and after 12th in
                                            biology?
                                            Are you still waiting for the answer of…………….? <a href="medical.html"
                                                style="text-decoration:none;color:gray;">What More...</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="feature-left">
                                    <div class="feature-copy">
                                        <a href="management.html" style="text-decoration:none;color:red;">
                                            <h3>Letter Writing</h3>
                                        </a>
                                        <p>
                                            Management career “Management is the coordination
                                            and organization of all activities in an entrepreneur according to the
                                            policies
                                            defined by the industry”. Thousands of students wish to know about the
                                            career
                                            options in the management field. Have you completed your 12th standard and
                                            now
                                            wish to search the professional courses. You can
                                            go for management courses with any stream in
                                            12th standard (Science, Commerce, Arts). But the thing is that management<a
                                                href="management.html" style="text-decoration:none;color:gray;"> Read
                                                More...</a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 animate-box" data-animate-effect="fadeIn">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="feature-left">
                                    <div class="feature-copy">
                                        <a href="law.html" style="text-decoration:none;color:red;">
                                            <h3>Application Writing</h3>
                                        </a>
                                        <p>
                                            "Law” is the basic part of our constitution.
                                            The law education is the only legal education in India.
                                            The student who passed this degree, designated as the
                                            “Lawyer” and that have to be done before the entry in the court
                                            activities and practice. The education of law in India has been
                                            offered by the various universities and in various academic
                                            levels.Get Latest Career Notification
                                            about Law Courses, by entering your details below.<a href="law.html"
                                                style="color:gray;text-decoration:none;"> More...</a>
                                        </p>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>


        <div class="ubea-section" id="ubea-faq" data-section="upcoming">
            <div class="ubea-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center ubea-heading">
                        <h2>Document Type</h2>
                        <p>Select any document to get template</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">

                        <div class="ubea-accordion">
                            <div class="ubea-accordion-heading">
                                <div class="icon"><i class="icon-cross"></i></div>
                                <h3>Email </h3>
                            </div>
                            <div class="ubea-accordion-content">
                                <div class="inner">
                                    <p><a href="/formal_email" style="text-decoration:none;color:black;">Formal Email</a></p>
                                    <p><a href="jee.php" style="text-decoration:none;color:black;">Informal Email</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="ubea-accordion">
                            <div class="ubea-accordion-heading">
                                <div class="icon"><i class="icon-cross"></i></div>
                                <h3>Letter</h3>
                            </div>
                            <div class="ubea-accordion-content">
                                <div class="inner">
                                    <p><a href="neet.php" style="text-decoration:none;color:black;">Formal Letter</a>
                                    </p>
                                    <p><a href="neet.php" style="text-decoration:none;color:black;">Inormal Letter</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="ubea-accordion">
                            <div class="ubea-accordion-heading">
                                <div class="icon"><i class="icon-cross"></i></div>
                                <h3>Applications</h3>
                            </div>
                            <div class="ubea-accordion-content">
                                <div class="inner">
                                    <p><a href="clat.php" style="text-decoration:none;color:black;">Formal</a></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="ubea-blog" data-section="about">
        <div class="ubea-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center ubea-heading">
                    <h2>About us</h2>
                    <p>This website is useful to give you informations about entrance exams. What are eligibility
                        criteria to appear on those exams.. This website gives you updates about your selected course.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="ubea-contact" data-section="contact" class="ubea-cover ubea-cover-xs"
        style="background-image:url(/static/images/img_bg_3.jpg);">
        <div class="overlay"></div>
        <div class="ubea-container">
            <div class="row text-center">
                <div class="display-t">
                    <div class="display-tc">
                        <div class="col-md-12">
                            <h3>If you have queries please email us at <a href="#">khushbukumar9898@gmail.com</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

{% endblock %}